* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
    text-align: center;
    background-image: url(../../debby.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
  
    h1 {
      
      color: white;
    }
}
