.bookContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  width: 10rem;
  min-height: 280px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: #B5977D;
  font-size: small;
  position: relative;

  .coverImage {
    border-radius: 5px;
    width: 100%;
    height: 200px;    
  }

  .icon {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 2rem;
    color: #A86B38;
    
  }

  // .title {
  //   position: absolute;
  //   top: 60%;
  //   margin: 0 auto;
  // }

  // .author {
  //   opacity: 0;

  //   &:hover {
  //     opacity: 1;
  //   }
  // }

}


